<!doctype html>
<title>Python Flask File Upload Example</title>
<h2> <font size="40">Marty</font> <img src="static/calendario.jpg" alt="calendario"width="80"height="80"></h2>
<h3>Selecione o arquivo do Calendario</h3>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>